.login-page{
  width: 100vw;
  height: 100vh;
  display: flex;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
 /* background-image: url(~assets/images/pexels-photo-406014.jpeg);*/
}
.login-form{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
justify-content: center;
}
