h4{
  color: #363636;
  font-size: 1.3rem;
}

input{
  width: 100%;
}
.login-page{
  width: 100vw;
  height: 100vh;
  display: flex;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-image: url("https://www.desktopbackground.org/p/2014/11/15/856491_top-10-cute-dog-hd-wallpapers-cute-dogs-wallpapers-hd-39_1920x1200_h.jpg");
  background-size: cover;
}
.login-form{
  -webkit-box-shadow: -1px 2px 31px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 2px 31px -3px rgba(0,0,0,0.75);
  box-shadow: -1px 2px 31px -3px rgba(0,0,0,0.75);
  display: flex;
  min-height: 30vh;
  width: 20vw;
  flex-direction: column;
  align-content: center;
  align-items: center;
justify-content: center;
  border-radius: 10px;
  padding: 1rem;
  background: rgba(245, 245, 245, 0.6);
  position: relative;
}
a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 1.7rem;
  color: white;
  width: 100%;
  font-size: 0.8rem;
  background: rgba(3, 3, 3, 0.57);
  position: absolute;
  bottom: 0;
  text-align: center;
  border-radius: 0 0 10px 10px;

}
a:hover{

  cursor: pointer;
}
