<section class="login-page" *ngIf="!isRegisterTemplate">
  <form class="login-form" novalidate [formGroup]="form">
    <h4>INICIAR SESIÓN</h4>
    <mat-form-field>
      <input matInput type="email" placeholder="Email" formControlName="email">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="Password" formControlName="password">
    </mat-form-field>
    <label class="error">{{errorMessage}}</label>
    <label class="success">{{successMessage}}</label>
    <br>
    <button mat-raised-button color="primary"  class="input-form-add-friend"(click)="login(form.value)">Iniciar sesión</button>
    <br>
    <br>
    <a (click)="isRegisterTemplate=true">¡Regístrate! :D</a>
  </form>
</section>

<section class="login-page" *ngIf="isRegisterTemplate">
  <form class="login-form" novalidate [formGroup]="form">
    <h4>REGÍSTRESE</h4>
    <mat-form-field>
      <input matInput type="text" placeholder="Email" formControlName="email">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="Password" formControlName="password">
    </mat-form-field>
    <label class="error">{{errorMessage}}</label>
    <label class="success">{{successMessage}}</label>
    <br>
    <button mat-raised-button color="primary"  class="input-form-add-friend"(click)="tryRegister(form.value)">Registrarse</button>
    <br>
    <br>
    <a (click)="isRegisterTemplate=false">Iniciar Sesión</a>
  </form>
</section>
