<section class="section-add-client">

  <form class="add-client-form" novalidate [formGroup]="formRegister">
<h1>Registra un nuevo usuario</h1>

  <mat-form-field class="form-field-add-client">
    <input matInput type="text" placeholder="Nombre" formControlName="name">
  </mat-form-field>

  <mat-form-field class="form-field-add-client">
    <input matInput type="number" placeholder="Documento" formControlName="document">
  </mat-form-field>

  <mat-form-field class="form-field-add-client">
    <input matInput type="date" placeholder="Fecha de nacieminto" formControlName="birthday">
  </mat-form-field>

  <mat-form-field class="form-field-add-client">
    <input matInput type="text" placeholder="Genero" formControlName="gender">
  </mat-form-field>

  <mat-form-field class="form-field-add-client">
    <input matInput type="email" placeholder="Email" formControlName="email">
  </mat-form-field>

  <mat-form-field class="form-field-add-client">
    <input matInput type="number" placeholder="Número Celular" formControlName="cel">
  </mat-form-field>
 <!---  <label class="error">{{errorMessage}}</label>
  <label class="success">{{successMessage}}</label> --->
  <br>
  <button mat-raised-button color="primary"  class="input-form-add-friend"(click)="addClient(formRegister.value)">Ingresar Usuario</button>
  <br>
</form>

  <button mat-raised-button color="primary"  class="input-form-log-out"(click)="logOut()">Cerrar sesión</button>
</section>
